.categories-wrapper .title {
  text-align: center;
  padding: 100px 0px;
}
.category-wrapper img {
  width: 40px;
}
.categories-wrapper .category-list {
  display: flex;
  gap: 20px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 64px;
}
.category-wrapper {
  background: #ffc33c8c;
  padding: 8px 32px;
  flex-grow: 1;
  flex-basis: 30%;
  border-radius: 10px;
}
.btn-right {
  font-weight: 500;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.completed {
  color: #00b900;
}
.pending {
  color: #db0000;
}
