/* quiz-list wrapper */
.quiz-list-wrapper {
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  text-align: center;
  padding: 0px 64px;
}

/* meta */
.quiz-meta {
  padding: 32px 0;
}
.timer {
  text-align: right;
}
/* quiz */
.single-quiz {
  position: relative;
  padding: 8px 32px;
  background: lightgoldenrodyellow;
  border-radius: 16px;
  box-shadow: 1px 3px 6px #d5d5d5;
  cursor: pointer;
  flex-basis: 30%;
  flex-grow: 1;
}
.single-quiz img {
  width: 40px;
}
.single-quiz .lock {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 46%;
  color: white;
  padding: 10px;
  border-radius: 15px;
}
/* quiz menu */
.quiz-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.quiz-menu {
  padding: 15%;
}
/* quiz */
.quiz-wrapper {
  padding: 0 10%;
  padding-bottom: 200px;
}
.content img {
  width: 200px;
}
.content .player {
  display: flex;
  justify-content: center;
}
.options {
  margin-top: 16px;
}
.options input {
  appearance: none;
}
.options label {
  background: gainsboro;
  width: 100%;
  margin: 8px;
  padding: 16px;
}
.action-btn button {
  margin: 16px 8px;
}
.action-btn {
  display: inline;
}
.action-btn:last-child {
  position: absolute;
  right: 9%;
}

/* result */
.result-wrapper {
  /* background: lightseagreen; */
  padding: 96px;
}
.result-wrapper.pass .title {
  margin: 32px 0px;
  text-transform: uppercase;
  font-weight: bold;
  color: #35e226c0;
  scale: 2;
}
.result-wrapper.fail .title {
  margin: 32px 0px;
  text-transform: uppercase;
  font-weight: bold;
  color: #e90404c0;
  scale: 2;
}
.result-wrapper .result h3 {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 2px;
  color: black;
}
.result-detalis-ques {
  margin: 32px 64px;
}
.result-question {
  padding: 0% 20%;
  margin: 32px;
}
.result_options label {
  background: gainsboro;
  width: 100%;
  margin: 8px;
  padding: 16px;
}
