@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  background-color: whitesmoke;
}
.App {
  background-color: whitesmoke;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  background-color: transparent;
}
